body{
  background: #1c1e2e;
  color: #E2E2E2;
  font-family: 'Roboto Mono', monospace;
}

h1{
  font-size: 4rem;
}

.content{
  padding-left: 7rem;
}

.logo{
  width: 120px;
}

.nav-bar{
  padding-top: 2rem;
  max-width: 70rem;
  display: table;
  position: absolute;
  height: 75%;
  width: 100%;
}

.center{
  margin-left: auto;
  margin-right: auto;
}

.outer {
    display: table;
    position: absolute;
    height: 75%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 50rem;
}
