body{
  background: #1c1e2e;
  color: #E2E2E2;
  font-family: 'Roboto Mono', monospace;
}

h1{
  font-size: 4rem;
}

li{
  float: right;
  padding: 1rem;
  cursor: default;
}

li a:hover{
  text-decoration: underline;
}

li a{
  margin-top: 1rem;
}

ul{
  list-style-type: none;
  display: inline;
}

.font{
  color: #E2E2E2;
  font-family: 'Roboto Mono', monospace;
}

.content{
  padding-left: 7rem;
}

.logo{
  width: 120px;
}

.logo-li{
  float: left;
  padding: 0;
}

.header-buttons{
  min-width: -webkit-fill-available;
}

.header-bar{
  padding-top: 2rem;
  max-width: 70rem;
  height: 75%;
  width: 100%;
  display: flex;
}

.nav-bar{
  padding-top: 2rem;
  font-size: 1.5rem;

}

.center{
  margin-left: auto;
  margin-right: auto;
}

.outer {
    display: table;
    position: absolute;
    height: 60%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 50rem;
}
