body{
  background: #1c1e2e;
  color: #E2E2E2;
  font-family: 'Roboto Mono', monospace;
  text-rendering: optimizeLegibility;
  padding: 0 22%;
}

nav{
  display: inline;
  float: right;
}

nav ul li{
  display: inline;
}

a{
  color: inherit;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

ul{
  list-style-type: none;
  display: inline;
}

.footer-container li{
  padding: 1rem;
  cursor: default;
}

h1{
  font-size: 40px;
  -webkit-margin-after: 0;
}
h4{
  margin: 0;
  font-size: 26px;
}

p{
  margin: 0;
  text-align: justify;
}

.r-logo{
  display: inline-block;
}

.header-container{
  margin-top: 5%;
}

.body-container{
  padding: 0 10%;
  padding-top: 25%;
  height: 100%;
}

.footer-container {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 0 22%;
    text-align: center;
}

.footer-ul li{
  float: left;
}

.middle {
    display: flex;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}

.center-title{
  margin-right: auto;
  margin-left: auto;
}

.logo{
  height: 64px;
}

.social-logo{
  height: 2rem;
}

.footer-ul li{
  float: right;
}

.nav-button{
  font-size: 22px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.profile{
  width: 16rem;
  float: left;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

@media screen and (max-width:1080px){
  body{
    padding: 0;
  }
  h1{
    font-size: 28px;
  }
  h3{
    font-size: 12px;
  }
  nav{
    padding-right: 16px;
    padding-top: .25rem;
    white-space: nowrap;
  }
  .logo{
    height: 32px;
  }
  .nav-button{
    font-size: 18px;
    padding-right: 0;
  }
  .body-container{
    padding-left: 0;
    padding-right: 0;
    white-space: nowrap;
  }
  .footer-container{
    padding: 0;
  }
  .footer-container li{
    padding: 0.5rem;
  }
  .social-logo{
    height: 1.5rem;
  }
}
